@model IEnumerable<Lab5_v3.Models.PCViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { userId = ViewBag.UserId })
</p>

<p>Total Storage: @ViewBag.TotalStorage GB</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GB_Memory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GB_Storage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MHZ_Processor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadyForUpgrade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GB_Memory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GB_Storage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MHZ_Processor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadyForUpgrade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back To List", "Index", "User", new { id = ViewBag.UserId }, null)
</p>